{% extends "layout.html" %}
{% set active_page = "task" %}

{% block content %}

<!-- Page Heading -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                Tasks <small> Overview</small>
            </h1>
            
        </div>
    </div>
    
    <!-- /.row -->
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"><i class="fa fa-money fa-fw"></i> Tasks Panel</h3>
                </div>
                <div class="panel-body">
                    <div class="table-responsive">
                        <table class="table table-bordered table-hover table-striped">
                            <thead>
                                <tr>
                                    <th>Task Name</th>
                                    <th>Project Name</th>
                                    <th>Start Date</th>
                                    <th>End Date</th>
                                    <th>Resource ID</th>
                                    <th>Command</th>
                                </tr>
                            </thead>
                            <tbody>
                            {% for task in tasks %}
							<tr>
								<td>{{ task.taskName }}</td>
								<td>{{ task.projectName }}</td>
								<td>{{ task.startDate }}</td>
								<td>{{ task.endDate }}</td>
								<td>{{ task.resourceId }}</td>
								<td><a href="/task/{{ task.id }}" class="btn btn-default">Show</href>
									<a href="/task/{{ task.id }}?edit" class="btn btn-default">Edit</href></td>
							</tr>
							{% endfor %}
                            </tbody>
                        </table>
                    </div>
                    
                    <div class="text-right">
                        <a href="/task/new">Add Task<i class="fa fa-arrow-circle-right"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /.row -->
{% endblock %}