{% extends "layout.html" %}
{% set active_page = "task" %}

{% block content %}

{% if form.errors %}
<p class=error><strong>Error:</strong> {{ form.errors }}
{% endif %}

    <div class="row">
        <div class="col-lg-4">
            <h1 class="page-header">
                Task <small> Overview</small>
            </h1>
            
        </div>
    </div>
    
    <!-- /.row -->
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"><i class="fa fa-money fa-fw"></i> Task</h3>
                </div>
                <div class="panel-body">
                
  
  <form action="{{url}}" method=post>

    {{ form.hidden_tag() }}
 <p>
    {{ form.taskName.label }}
    {{ form.taskName }}
 <p>
    {{ form.projectName.label }}
    {{ form.projectName }}
 <p>
    {{ form.startDate.label }}
    {{ form.startDate }}
 <p>
    {{ form.endDate.label }}
    {{ form.endDate }}
 	<p>
     {{ form.resourceId.label }}
     {{ form.resourceId }}
    <p>
     {{ form.submit }}
     
    <p>
    {% if button %}
    <input type=submit value="{{button}}">
    {% endif %}
  </form>
  
  
  <a href="/task">Back to Main tasks Page</href>
  
                    </div>
                    
                    
                </div>
            </div>
        </div>
    </div>
    <!-- /.row -->

{% endblock %}
